.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: top;
  flex-direction: column;

  background: linear-gradient(
      to right,
      rgba($primary-color, 0.8),
      rgba($primary-color, 0.1)
    ),
    url(../Image/img04.jpg) center bottom;
  background-size: cover;

  &__name {
    font-size: 5rem;
    //width: 90vw;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);
    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
