/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

$main-font: "Changa", sans-serif;
$fantasy-font: "Kdam Thmor Pro", sans-serif;

/* Colors */
$primary-color: #546846;
$secondary-color: #e5a455;
$font-color: #ccc;

/* MediaQuery */
@mixin responsive($screen) {
  @media screen and (min-width: #{$screen}px) {
    @content;
  }
}

/* CSS Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
